:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
  --mainBlack: #000000;
  --mainYellow: #ffa400;
  --mainCyan: #00bcd4;
  --mainGreyBlue: #263238;
  --mainLightGrey:#fafafa;
  --mainPurple: #311b92;
  --lightCyan: #4dd0e1;
  --lightBlue: #bbdefb;
  --mainLime: #c6ff00;
  --mainRed: #d50000;

}

body{
  font-family: 'Rubik', sans-serif !important;
  background: (var(--mainLightGrey)) !important;
  color:var(--mainDark) !important;
  font-size: medium;
}

.text-title{
  font-family: 'Fredoka One', cursive ;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: medium;
}

.text-Greyblue{
  color: var(--mainGreyBlue);
}

.text-bright{
  color:var(--mainWhite);
}

.btn-cyan{
  background:var(--lightBlue) !important;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack) !important;
  border-radius: 0.5rem !important;
  border: 0.1rem solid var(--mainBlack) !important;
}

.btn-count{
  background:var(--mainWhite) !important;
  text-transform: capitalize;
  font-size: 1.2rem !important;
  color: var(--mainBlack) !important;
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainBlack) !important;
}

.btn-cyan:hover{
  background: var(--mainPurple) !important;
  color: var(--mainWhite) !important;
  font-size: 1rem !important;
}

.trash-icon{
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--mainPurple);
}

.trash-icon:hover{
  background: var(--mainRed) !important;
  color: var(--mainWhite) !important;
  font-size: 2.2rem !important;
}